appdirs==1.4.4
atomicwrites==1.4.1
attrs==23.2.0
beautifulsoup4==4.9.3
blinker==1.7.0
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dash==2.16.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
distlib==0.3.8
docopt==0.6.2
filelock==3.13.1
Flask==3.0.2
fonttools==4.49.0
gunicorn==21.2.0
identify==2.5.35
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
kaleido==0.2.1
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.3
mplcursors==0.5.3
nest-asyncio==1.6.0
nodeenv==1.8.0
numpy==1.26.4
packaging==21.3
pandas==2.2.1
pillow==10.2.0
pipreqs==0.4.12
platformdirs==4.2.0
plotly==5.19.0
pluggy==1.4.0
pre-commit==2.16.0
py==1.11.0
pyparsing==3.1.1
pytest==6.2.5
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
retrying==1.3.4
ruamel.yaml==0.17.21
six==1.16.0
soupsieve==2.5
tenacity==8.2.3
termcolor==1.1.0
toml==0.10.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.1
visdcc==0.0.50
Werkzeug==3.0.1
yarg==0.1.9
yolk3k==0.9
zipp==3.17.0
