@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f9fa;
  font-family: "Nunito Sans";
  font-weight: 200;
  color: rgb(85, 89, 92);
  font-size: 16px;
  line-height: normal;
}
